.register {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
                rgba(71,42,40,0.5),
                rgba(71,42,40,0.5)),
                url("./jakub-dziubak-XtUd5SiX464-unsplash.jpg");
    background-size: cover;
}

.registerTitle {
    font-size: 50px;
    color: #472A28;
}

.registerForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.registerForm > label {
    margin: 10px 0;
}

.registerInput {
    padding: 10px;
    background-color: white;
    border: none;
}

.registerButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: #C6AB80;
    border: none;
    color: #472A28;
    border-radius: 10px;
    padding: 10px;
}

.registerLoginButton {
    margin-top: 30px;
    background-color: #C6AB80;
    border: none;
    color: #472A28;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}